/* CSS Pour la partie principal */
#cnx
{
z-index:3;
position:fixed;
top:0px;
right:0px;
width:20%;
height: 23%;
min-height: 22%;
min-width: 20%;
background-color: activecaption;
border-left: 3px solid black;  
}
#menu
{
z-index:2;
position:fixed;
top:0px;
left:0px;
width:80%;
height: 20%;
min-height: 23%;
min-width: 20%;
background-color: activecaption;
color: black;
text-align: center;


}
ul ul { /*Mise en forme du menu */
display: none;
position: absolute;
left: -0.5%;
top: 42px;
margin: 0px;
padding: 0px;
}
ul ul ul{
position: absolute;
left: 140px;
top: -10px;
margin: 0px;
padding: 0px;  
}
li {
background-color: white;
list-style-type: none;
position: relative;
top:10px;
width: 140px;
height:40px;
margin: 0px;
padding: 0px;
border-radius:10px;
cursor:pointer;
border: 1px solid black;

}

ul li
{
display:inline-block;
padding-top: 10px;
}

ul  
{
margin: 0px;
padding: 0px;
list-style : none;
}

.eleve, .prof, .admin{display:none;}

img {
height: 100%;
width: 100%;
}
#center
{
z-index:1;
position:absolute;
top: 23%;
left:0px;
min-height: 77%;
min-width: 80%;
width: 100%;
}
.niveau2 li{
border: 1px solid black;
background: cornflowerblue;
height:37px;
}
.niveau2{display:none;}

li:hover ul.niveau2 {display:inline-block;}

li:hover {background-color: cadetblue;}

#ajout_prof{display:none;}

#ajout_promo{display:none;}

.niveau3 li{
background: cornflowerblue;
height:37px;
}

.niveau3{display : none;}

li li:hover ul.niveau3 {display:block;}


/* Mise en forme des formulaires */

#eleve_delete,#prof_delete, #eleve_CPI1,#eleve_CPI2, #matiere1, #matiere2
{display:none;}

#form_prof_eleve{
margin-left: 30%;
margin-right:30%;
}
#form_DS{
margin-left: 30%;
margin-right:30%;
}

#moyenne{
margin-left: 30%;
margin-right:30%;
}
input[type=submit]:hover, input[type=reset]:hover {background-image: linear-gradient;}

input[type=submit]:active, input[type=reset]:active {background-image: radial-gradient;}

label
{
display: block;
width: 200px;
float:left;
}

fieldset{
border: 2px solid darkgray;
border-radius: 8px;
}

legend{
    text-align:center;
}
