#cnx
{
 position:absolute;
 top:0px;
 right:0px;
 width:20%;
 height: 20%;
 background-color: white;
 border : 1px solid black;  
}

ul ul {
display: none;
position: absolute;
left: 0px;
top: 50px;
margin: 0px;
padding: 0px;
}
ul ul ul{
position: absolute;
left: 140px;
top: -3px;
margin: 0px;
padding: 0px;  
}
li {
list-style-type: none;
position: relative;
width: 140px;
height:50px;
background-color: red;
 margin: 0px;
padding: 0px;
}

ul li
{
display:inline-block;
}

ul  
{
 margin: 0px;
padding: 0px;
list-style : none;
}

#menu
{
 z-index:2;
 position:absolute;
 top:0px;
 left:0px;
 width:80%;
 height: 20%;
 background-color: black;
 color: white;
 text-align: center;
     
}

.eleve{
 display:none;
}

#center
{
 z-index:1;
 position:absolute;
 bottom:0px;
 left:0px;
 width:100%;
 height: 80%;
 background-color: gray;
}
.niveau2 li{
	border-color:white;
	border:solid;
	height:30px;
	}
.niveau2{
    display:none;
}
li:hover ul.niveau2 {display:inline-block;}
li:hover {background-color: blue;}

#ajout_prof{
    display:none;
}

#ajout_promo{
    display:none;
}
.niveau3 li{
	border-color:white;
	border:solid;
	height:30px;
	}
        
.niveau3{
    display : none;
    
        }
li li:hover ul.niveau3 {display:block;}

#eleve_delete,#prof_delete, #eleve_CPI1,#eleve_CPI2
{display:none;}

#form_ajout_prof_eleve{
    background-color: grey;
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
}

input[type=submit]:hover, input[type=reset]:hover {
 background-color:#FCDEDE;
 }
input[type=submit]:active, input[type=reset]:active {
 background-color:#FCDEDE;
 box-shadow:1px 1px 1px #D83F3D inset;
}